@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import 'overrides';
@import 'bootstrap';
@import 'tooltip';

body {
  height: 600px;
  width: 360px;
  overflow: hidden;
}

a {
  cursor: pointer;
}

a:not([href]) {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

svg {
  vertical-align: top;
}

textarea {
  border-color: $hr-border-color;
  padding: 8px;
}

#app {
  &.popup {
    min-width: auto;
    max-width: 100%;
  }
}

.satmode {
  filter: sepia(1) contrast(149%) hue-rotate(248deg) invert(100%);
}

.cursor-pointer {
  cursor: pointer;
}

.login-wrapper {
  display: flex;

  flex: 1;
  justify-content: space-between;
  text-align: center;
  padding: 70px $wrapper-padding 0 $wrapper-padding;
  flex-direction: column;
  background: $brand-gradient-secondary;
  color: $color-text-secondary;

  .form input {
    color: $color-text-secondary;
  }

  .form .form-group {
    text-align: left;
  }

  h2 {
    color: $color-text-secondary;
    margin-bottom: 26px;
  }

  a {
    color: $color-text-secondary;
  }
}

.login-header {
  padding-bottom: 40px;

  svg {
    height: 75px;
  }
}

.wrapper {
  display: flex;
  flex: 1;
  padding: $wrapper-padding;
  flex-direction: column;

  &_top {
    flex: 1;
  }

  &_bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
  }
}

.button-group {
  display: flex;
  justify-content: space-between;

  .btn {
    width: 152px;

    &.btn-primary {
      margin-left: auto;
    }
  }
}

.btn-group {
  .btn-outline-dark.btn-light {
    border-color: #d6d6d6 !important;
    color: $color-text-primary;
    background: white;
  }

  label.btn {
    font-weight: normal;

    &.active {
      font-weight: bold;
    }
  }
}

.form {
  label {
    font-size: $font-size-sm;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;

    & > .label-append {
      float: right;
      color: $text-muted;
      font-weight: normal;
    }

    & > .label-sub {
      text-transform: none;
      font-weight: normal;
    }
  }
  label.btn {
    text-transform: none;
  }
  input {
    color: $color-text-primary;
    border-width: 0 0 1px 0;
  }
  .input-group-text {
    background: none;
  }
  .confirm-value {
    font-size: $input-font-size;
    line-height: $input-font-size + 4px;
    margin-bottom: 0;
  }
  .form-control-address {
    font-size: $font-size-lg;
  }
  .swap-rate {
    &_base,
    &_term {
      color: $color-text-muted;
    }

    &_value {
      font-size: 18px;
    }

    margin-bottom: 0;
  }
}

.btn-sm {
  font-weight: $font-weight-base;
}

.btn-light {
  color: $primary;
}

.btn.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    display: inline-block;
    height: 18px;
    margin-right: 6px;
    margin-top: -2px;
    path {
      stroke: $color-text-secondary;
    }
  }

  svg.btn-loading {
    height: 24px;
    circle {
      stroke: #dedede;
    }
  }
}

.btn.btn-icon.btn-sm {
  display: inline;

  svg {
    height: 16px;
    margin: 2px 0 0 0;
  }

  svg.btn-loading {
    height: 16px;
  }
}

.icon-fill-primary {
  path {
    fill: $color-primary;
  }
}

.asset-icon {
  width: 28px;
  height: 28px;
}

.menu_list {
  position: absolute;
  z-index: 3;
  top: 35px;
  right: 0;
  left: 0;
  list-style-type: none;
  background: #ffffff;
  border: {
    top: 1px solid $hr-border-color;
    bottom: 1px solid $hr-border-color;
  }
  padding: 0;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    border-bottom: 1px solid $hr-border-color;
    cursor: pointer;
    font-size: $font-size-tiny;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: #f0f7f9;
    }
  }
}

.popup-logo {
  padding: 20px 20px;
  background: #302e78;
  text-align: center;

  svg {
    height: 75px;
  }
}

.details-container {
  text-align: left;
  margin-bottom: 1rem;

  .details-header {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: $font-size-sm;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-align: left;

  }
  .details-list {
    list-style-type: none;
    background: #ffffff;
    border: none;
    padding: 0;
    width: 100%;
    li {
      display: flex;
      align-items: start;
      justify-content: start;
      padding: 5px 20px;
      border: none;
      font-size: $font-size-tiny;
      label {
        font-weight: bold;
        float: left;
      }
    }
  }
  svg {
    height: 6px;
    margin-right: 4px;
  }
}
