@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import "overrides";
@import "bootstrap";

svg {
  vertical-align: top;
}

.login-wrapper {
  display: flex;
  justify-content: space-between;
  flex: 1;
  text-align: center;
  padding: 70px $wrapper-padding 70px $wrapper-padding;
  flex-direction: column;
  background: $brand-gradient-primary;
  color: $color-text-secondary;

  .form input {
    color: $color-text-secondary;
  }

  .form .form-group {
    text-align: left;
  }

  h2 {
    color: $color-text-secondary;
  }
}

.login-header {
  padding-bottom: 40px;
}

.wrapper {
  display: flex;
  flex: 1;
  padding: $wrapper-padding;
  flex-direction: column;

  &_top {
    flex: 1;
  }
}

.form {
  label {
    font-size: $font-size-sm;
    font-weight: bold;
    text-transform: uppercase;
  }
  input {
    color: $color-text-primary;
    border-width: 0 0 1px 0;
  }
  .input-group-text {
    background: none;
  }
  .confirm-value {
    font-size: $input-font-size;
  }
  .form-control-address {
    font-size: $font-size-lg;
  }
  .swap-rate {
    &_base, &_term {
      color: $color-text-muted;
    }

    &_value {
      font-size: 18px;
    }
    
    margin-bottom: 0;
  }
}

.btn-outline-primary {
  border-width: 1px;
}

.btn-sm {
  font-weight: $font-weight-base;
}

.btn-light {
  color: $primary;
}

.btn.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    display: inline-block;
    height: 20px;
    margin-right: 6px;
    margin-top: -2px;
    path {
      stroke: $color-text-secondary;
    }
  }
}

.icon-fill-primary {
  path {
    fill: $color-primary;
  }
}