@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import "overrides";
@import "bootstrap";
@import "tooltip";

svg {
  vertical-align: top;
}

#app {
  &.popup {
    min-width: auto;
    max-width: 100%;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.login-wrapper {
  display: flex;

  flex: 1;
  justify-content: space-between;
  text-align: center;
  padding: 70px $wrapper-padding 0 $wrapper-padding;
  flex-direction: column;
  background: $brand-gradient-secondary;
  color: $color-text-secondary;

  .form input {
    color: $color-text-secondary;
  }

  .form .form-group {
    text-align: left;
  }

  h2 {
    color: $color-text-secondary;
    margin-bottom: 26px;
  }

  a {
    color: $color-text-secondary;
  }
}

.login-header {
  padding-bottom: 40px;
}

.wrapper {
  display: flex;
  flex: 1;
  padding: $wrapper-padding;
  flex-direction: column;

  &_top {
    flex: 1;
  }
}

.button-group {
  display: flex;
  justify-content: space-between;

  .btn {
    width: 152px;

    &.btn-primary {
      margin-left: auto;
    }
  }
}

.form {
  label {
    font-size: $font-size-sm;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;

    .label-append {
      float: right;
      color: $text-muted;
      font-weight: normal;
    }
  }
  label.btn {
    text-transform: none;
  }
  input {
    color: $color-text-primary;
    border-width: 0 0 1px 0;
  }
  .input-group-text {
    background: none;
  }
  .confirm-value {
    font-size: $input-font-size;
    line-height: $input-font-size + 4px;
    margin-bottom: 0;
  }
  .form-control-address {
    font-size: $font-size-lg;
  }
  .swap-rate {
    &_base, &_term {
      color: $color-text-muted;
    }

    &_value {
      font-size: 18px;
    }

    margin-bottom: 0;
  }
}

.btn-sm {
  font-weight: $font-weight-base;
}

.btn-light {
  color: $primary;
}

.btn.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    display: inline-block;
    height: 18px;
    margin-right: 6px;
    margin-top: -2px;
    path {
      stroke: $color-text-secondary;
    }
  }

  svg.btn-loading {
    height: 24px;
    circle {
      stroke: #dedede;
    }
  }
}

.btn.btn-icon.btn-sm {
  display: inline;

  svg {
    height: 16px;
    margin: 2px 0 0 0;
  }

  svg.btn-loading {
    height: 16px;
  }
}

.icon-fill-primary {
  path {
    fill: $color-primary;
  }
}


.menu_list {
  position: absolute;
  z-index: 3;
  top: 35px;
  right: 0;
  left: 0;
  list-style-type: none;
  background: #ffffff;
  border: {
    top: 1px solid $hr-border-color;
    bottom: 1px solid $hr-border-color;
  }
  padding: 0;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    border-bottom: 1px solid $hr-border-color;
    cursor: pointer;
    font-size: $font-size-tiny;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: #F0F7F9;
    }
  }
}