$vdpColor: #9D4DFA;
@import 'vue-date-pick/src/vueDatePick.scss';

.vdpComponent {
    .vdpHeader {
        background-color: #F8FAFF;
        font-weight: normal;
        height: 86px;
        border-bottom: 1px solid #D9DFE5;
        padding: 0 15px 35px;
        margin: -15px -15px -35px;

        .vdpArrowPrev:after {
            border-right-color: #646F85;
         
        }
        .vdpArrowNext:after {
            border-left-color: #646F85;
        }

        .vdpHeadCell {
            color: #646F85 !important;
            font-weight: $font-weight-light;
        }
    }

    .vdpInnerWrap {
        border-radius: 0 !important;
    }
    .vdpTable { 
        font-weight: $font-weight-light;
    }
    .vdpCell.selectable:hover .vdpCellContent,
    .vdpCell.selected .vdpCellContent {
        font-weight: $btn-font-weight !important;
    }
}