on:
  schedule:
    - cron: '0 9 * * *' # everyday at 9am
    - cron: '0 23 * * *' # everyday at 11pm

name: Mainnet tests

jobs:
  regressiontest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build project
        uses: actions/setup-node@v1
        env:
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 'true'
        with:
          args: install

      - uses: actions/cache@v1
        env:
          node-version: 14.1.0
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-node${{ env.node-version }}

      - name: Set development manifest
        run: |
          jq --argjson icons "{\"16\": \"icons/dev/16x16.png\",\"48\": \"icons/dev/48x48.png\",\"128\": \"icons/dev/128x128.png\"}" '.icons = $icons | .browser_action.default_icon = $icons | .name = "Liquality Wallet - Dev"' ./src/manifest.json > ./src/manifest.tmp
          mv ./src/manifest.tmp ./src/manifest.json

      - name: Set development agents
        run: |
          sed -i "s/\/swap-testnet\/agent/\/swap-testnet-dev\/agent/g; s/\/swap\/agent/\/swap-dev\/agent/g" src/build.config.js
      - run: |
          npm ci
          npm run lint
          npm run build

      - name: screenshots directory
        if: always()
        run: |
          mkdir screenshots

      - name: Regression tests
        uses: beemi/puppeteer-headful@v1.0.6
        env:
          CI: 'true'
          DISPLAY: :99
          SEED_WORDS: ${{ secrets.TEST_NET_SEED_WORDS }}
          TWENTY_FOUR_SEEDS: ${{ secrets.TWENTY_FOUR_SEEDS }}
        with:
          args: npm run test:mainnet

      - name: Archive Mocha HTML report
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: mocha-html-test-report
          path: mochawesome-report

      - name: Save Screenshots
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: screenshots
          path: screenshots



